body {
    align-content: center;
}

.grid {
    display: grid;
}

h1 {
    width: fit-content;
    margin: auto;
}

form {
    width: 50%;
    margin: auto;
    grid-template-columns: auto 1fr auto auto;
    grid-gap: 0.2em;
}

form > button {
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
}

#additionalGameSettings {
    position: absolute;
    width: 70%;
    height: auto;
    margin: auto;
    grid-template-columns: auto auto;
}

.popup_footer {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: end;
}

form.grid > #playerTable {
    grid-column-start: 2;
    grid-column-end: 4;

}

#playerTable tr {
    margin-bottom: 0.2em;
}

#playerTable td {
    border: 1px solid black;
}